doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Users
    body 
        a(href="/") 
            input#home(type="button", value="Home")
        br
        table
            thead 
                tr: th id
                    th Date 
                    th Sentiment
                    th Temperature 
                    th Humidity 
                    th Illumination 
            tbody 
                each item, index in measurements
                    tr: td 1
                        td=sentiment[index].DateTime
                        td=sentiment[index].Status
                        td=Math.round(item.Temperature)
                        td=Math.round(item.Humidity)
                        td=item.Luminance